{% extends "layout.html" %}
{% block body %}
    {% from "_macro.html" import render_field %}
    <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                        {% if result_info.cnt_results>0 %}
                        <div id="results-info">
                            <h2>
                                {{ result_info.cnt_results }} results found for: <span class="text-navy">“{{ query_form.query.data }}”</span>
                            </h2>
                            <small>Request time  ({{ result_info.time }} seconds)</small>
                        </div>
                            {% else %}
                            <h2> Make your Query</h2>

                        {% endif %}
                            <br/>

                            <div class="search-form">
                                <form action="/" method="POST">
                                    <label>{{ query_form.query.label }}</label>
                                    <div class="input-group">
                                        {{ render_field(query_form.query, class='form-control input-lg')}}
                                        <div class="input-group-btn">
                                            <button class="btn btn-lg btn-primary" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>

                                        </div>

                                    </div>
                                {% if query_form.query.errors %}
                                            <ul>
                                            {% for error in query_form.query.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                            </ul>
                                    {% endif %}
                                    <label>{{ query_form.folder_path.label }}</label>
                                    <div class="input-group">
                                            {{ render_field(query_form.folder_path, class='form-control input-lg')}}
                                    </div>
                                {% if query_form.folder_path.errors %}
                                    <ul>
                                    {% for error in query_form.folder_path.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if not initial %}
                                <button class="btn btn-group-lg btn-primary" id="retro-btn"
                                        style="margin-top: 2%" type="button">Retro-alimentation</button>
                                {% endif %}
                                <div>
                                    <h5 id="retro_count"></h5>
                                </div>

                                </form>
                            </div>
                            <div class="hr-line-dashed"></div>
                        <div id="set-search-results">
                            {% for result in results %}
                                <div class="search-result">
                                <h3><a href="{{ result.url }}" class="file_result">{{ result.name }}</a></h3>
                                <a href="{{ result.url }}" class="search-link"></a>
                                <p>
                                    {{ result.description }}
                                </p>
                                <label>{{result.value}}</label>
                                <div class="checkbox checkbox-success">
                                    <input class="relevance" id="checkbox-relevant_{{ result.name }}" type="checkbox" result_name="{{ result.name }}">
                                    <label for="checkbox-relevant_{{ result.name }}">Mark as relevant</label>
                                </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                            {% endfor %}
                        </div>
                            {% if searching %}
                            <div class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i></button>
                                    <button class="btn btn-white">1</button>
                                    <button class="btn btn-white  active">2</button>
                                    <button class="btn btn-white">3</button>
                                    <button class="btn btn-white">4</button>
                                    <button class="btn btn-white">5</button>
                                    <button class="btn btn-white">6</button>
                                    <button class="btn btn-white">7</button>
                                    <button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i> </button>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
        </div>
        </div>
{% endblock %}